<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>Hệ thống quản lý thư viện</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/Style.css" th:href="@{/css/Style.css}" />
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</head>
<div class="sidebar-header">
    <h1> <img src="../static/image/logo.jpg" th:src="@{/image/logo.jpg}" alt="Paris" width="80" height="80"> HỆ THỐNG QUẢN LÝ THƯ VIỆN
    </h1>
</div>

<body>
    <div class="menubar">
        <div class="content">
            <ul class="nav navbar-nav ml-auto" style="font-size: 18px;">
                <li class="nav-item"><a class="active" href="/"><i class="fas fa-home"></i>TRANG CHỦ</a></li>
                <li class="nav-item"><a href="/qltv/dkmuontras"><i class="fas fa-pen"></i>ĐĂNG KÝ</a></li>
                <li class="nav-item"><a href="/qltv/theloais"><i class="fas fa-project-diagram"></i>THỂ LOẠI</a></li>
                <li class="nav-item"><a href="/qltv/chucvus"><i class="fas fa-project-diagram"></i>CHỨC VỤ</a></li>
                <li class="nav-item"><a href="/qltv/nhanviens"><i class="fas fa-chalkboard-teacher"></i>NHÂN VIÊN</a></li>
                <li class="nav-item"><a href="/qltv/sachs"><i class="fas fa-book"></i>SÁCH</a></li>
                <li class="nav-item"><a href="/qltv/khoas"><i class="fas fa-graduation-cap"></i>KHOA</a></li>
                <li class="nav-item"><a href="/qltv/lops"><i class="fas fa-user-friends"></i>LỚP</a></li>
                <li class="nav-item"><a href="/qltv/sinhviens"><i class="fas fa-user-graduate"></i>SINH VIÊN</a></li>
                <li class="nav-item"><a href="/logout"><i class="fas fa-sign-in-alt"></i>ĐĂNG XUẤT</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div style="margin-left:20%;padding:1px 16px;height:1000px;" class="main">
        <div class="container my-6">
            <h3 style="text-align: center;">Danh Sách Chức Vụ</h3>
            <button type="button" style="float:right;" class="btn btn-outline-primary" data-toggle="modal" data-target="#addChucVu">Thêm Mới</button>
            <table id="example" class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên chức vụ</th>
                        <th>Số lượng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="chucVu ,i : ${chucvus}">
                        <td th:text="${i.index+1}"></td>
                        <td th:text="${chucVu.tenChucVu}"></td>
                        <td th:text="${chucVu.soLuong}"></td>
                        <td> <a th:href="@{/qltv/chucvus/update/(maChucVu=${chucVu.maChucVu})}" class="btn btn-outline-warning editcvButton">Chỉnh sửa</a>
                            <a th:href="@{/qltv/chucvus/delete/(maChucVu=${chucVu.maChucVu})}" class="btn btn-outline-danger deleteButton">xóa</a>
                            <a th:href="@{/qltv/chucvus/(id=${chucVu.maChucVu})}" class="btn btn-outline-primary">Danh sách</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="modal fade" id="addChucVu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form action="#" th:action="@{/qltv/chucvus/save}" method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm Mới</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="tenChucVu" class="col-form-label">Tên Chức Vụ:</label>
                                <input type="text" class="form-control" id="tenChucVu" name="tenChucVu">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Lưu</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="editChucVu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form action="#" th:action="@{/qltv/chucvus/update}" method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editChucVuLabel">Chỉnh Sửa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="editmaChucVu" class="col-form-label">Mã Chức Vụ</label>
                                <input type="text" class="form-control" id="editmaChucVu" name="maChucVu" readonly>
                            </div>

                            <div class="form-group">
                                <label for="tenChucVu" class="col-form-label">Tên Chức Vụ:</label>
                                <input type="text" class="form-control" id="edittenChucVu" name="tenChucVu">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Chỉnh Sửa</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn Muốn Xóa?</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-outline-danger" id="delRef">Vâng, Xóa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>