<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>

<head>
    <title>Hệ thống quản lý thư viện</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/Style.css" th:href="@{/css/Style.css}" />
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</head>
<div class="sidebar-header">
    <div class="header">
        <h1> <img src="../static/image/logo.jpg" th:src="@{/image/logo.jpg}" alt="Paris" width="80" height="80"> HỆ THỐNG QUẢN LÝ THƯ VIỆN
            <a style="float:right;font-size: 20px;color: #ffff;" th:href="@{/logout}" th:text="${name}"></a>
        </h1>
    </div>
    <div class="sidebar">
        <ul>
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Thông tin</a></li>
            <li><a href="#">Nhân sự</a></li>
            <li><a href="#">Sách</a></li>
            <li><a href="#">Đăng nhập/Đăng xuất</a></li>
        </ul>
    </div>
</div>

<body>
    <div class="menubar">
        <div class="content">
            <ul class="nav navbar-nav ml-auto" style="font-size: 18px;">
                <li class="nav-item"><a class="active" href="/"><i class="fas fa-home"></i>TRANG CHỦ</a></li>
                <li class="nav-item"><a href="/qltv/dkmuontras"><i class="fas fa-pen"></i>ĐĂNG KÝ</a></li>
                <li class="nav-item"><a href="/qltv/theloais"><i class="fas fa-project-diagram"></i>THỂ LOẠI</a></li>
                <li class="nav-item"><a href="/qltv/chucvus"><i class="fas fa-project-diagram"></i>CHỨC VỤ</a></li>
                <li class="nav-item"><a href="/qltv/nhanviens"><i class="fas fa-chalkboard-teacher"></i>NHÂN VIÊN</a></li>
                <li class="nav-item"><a href="/qltv/sachs"><i class="fas fa-book"></i>SÁCH</a></li>
                <li class="nav-item"><a href="/qltv/khoas"><i class="fas fa-graduation-cap"></i>KHOA</a></li>
                <li class="nav-item"><a href="/qltv/lops"><i class="fas fa-user-friends"></i>LỚP</a></li>
                <li class="nav-item"><a href="/qltv/sinhviens"><i class="fas fa-user-graduate"></i>SINH VIÊN</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login"><i class="fas fa-sign-in-alt"></i>ĐĂNG NHẬP</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/logout"><i class="fas fa-sign-in-alt"></i>ĐĂNG XUẤT</a></li>
            </ul>
        </div>
    </div>

    <br>
    <div style="margin-left:20%;padding:1px 16px;height:1000px;" class="main">
    </div>

</body>

</html>